footer {
    text-align: center;
    background-color:cadetblue;
    transform:scaleX(.98);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom:3vh;
    width:20rem;
    margin-inline:auto ;
    border-radius: .5rem;
}


a:first-of-type > img {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

a:last-of-type {
    background-color:aqua;
}

